sintaxe_java/anatomia_das_classes/.vscode/settings.json
sintaxe_java/Tipos-Variaveis/.vscode/settings.json
sintaxe_java/operadores/.vscode/settings.json
sintaxe_java/metodos/.vscode/settings.json
sintaxe_java/Terminal_Argumentos/.vscode/settings.json
sintaxe_java/Terminal_Argumentos/.vscode/launch.json
controle-fluxo/.vscode/settings.json
